{{> header}}
<h2>About Page </h2>

<p>About our business</p>

<p>Description: {{ description }}</p>

{{!-- Used to connect about handlebar to the header handlebar --}}
{{!-- app.get('/about', (req, res) => {
  res.render('about', {
    title: 'About Us'
    description: 'We are a local surfboard renting business'
  });
}); --}}