<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 headerBG align-items-center justify-content-center p-2">
  <a href="/" style=" text-decoration: none;" class="text-dark"><li class="m-4 p-2 logoTitle"><h3>Surf-Deck</h3></li></a>
  {{!-- <li class="m-4 p-2">
    <a href="/" class="d-flex align-items-center"><img class="mb-4 p-2" src="./img/surfboard_outline.png" alt="" width="100" height="100"></a>
  </li> --}}
  <li class="m-4 p-2"><a href="/inventory" class="nav-link px-2 m-1 link-dark">Surfboards</a></li>
    <li class="m-4 p-2"><a href="/rentals" class="nav-link px-2 m-1 link-dark">Rentals</a></li>
  <li class="m-4 p-2"><a href="/about" class="nav-link px-2 m-1 link-dark">About</a></li>
  <li class="m-4 p-2"><a href="/contact" class="nav-link px-2 m-1 link-dark">Contact</a></li>
  <li class="m-4 p-2 justify-content-center">
    <div class="text-end loginAndSignBtn align-items-center justify-content-center">
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login" class="d-flex justify-content-center align-items-center"><button type="button" class="btn btn-primary me-2 justify-content-center align-items-center">Login</button></a>
      {{/if}}
    </div>
  </li>
  <li class="m-4 p-2 justify-content-center">
    <div class="text-end loginAndSignBtn align-items-center justify-content-center">
      <a href="/signup" class="d-flex justify-content-center align-items-center"><button type="button" class="btn btn-primary">Sign-up</button></a>
    </div>
  </li>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</ul>

