<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 headerBG align-items-center justify-content-center p-2">
  <li class="m-4 p-2 logoTitle"><h3>Surf-Deck</h3></li>
  {{!-- <li class="m-4 p-2">
    <a href="/" class="d-flex align-items-center"><img class="mb-4 p-2" src="./img/surfboard_outline.png" alt="" width="100" height="100"></a>
  </li> --}}
  <li class="m-4 p-2"><a href="/" class="nav-link px-2 m-1 link-dark">Home</a></li>
  <li class="m-4 p-2"><a href="/inventory" class="nav-link px-2 m-1 link-dark">Inventory</a></li>
  <li class="m-4 p-2"><a href="/about" class="nav-link px-2 m-1 link-dark">About</a></li>
  <li class="m-4 p-2"><a href="/contact" class="nav-link px-2 m-1 link-dark">Contact</a></li>
  <li class="m-4 p-2 justify-content-center">
    <div class="text-end loginAndSignBtn align-items-center justify-content-center">
      <a href="/login" class="d-flex justify-content-center align-items-center"><button type="button" class="btn btn-primary me-2 justify-content-center align-items-center">Login</button></a>
    </div>
  </li>
  <li class="m-4 p-2 justify-content-center">
    <div class="text-end loginAndSignBtn align-items-center justify-content-center">
      <a href="/signup" class="d-flex justify-content-center align-items-center"><button type="button" class="btn btn-primary">Sign-up</button></a>
    </div>
  </li>
</ul>