{{> header}}
<h2> About </h2>

<p>Lifes a Beach</p>

<p> We are a surboard club with locations in Newport Beach, Huntington Beach and Long Beach. We provide our members with unlimited access and exchanges to a large variety of quality surfboards from stablished shapers throughout California. From 7'2" single fins and old school longboards to the latest high-performance shortboards, every surfer now has the ultimate quiver for all wave conditions. Membership also includes social events and activites, networking opportunities, surfboard design education, surf coaching, ocean skills and fitness training. </p>

{{!-- Used to connect about handlebar to the header handlebar --}}
{{!-- app.get('/about', (req, res) => {
  res.render('about', {
    title: 'About Us'
    description: 'We are a local surfboard renting business'
  });
}); --}}