
<h1 class="welcome text-center p-2 m-3">Welcome to Surf-Deck!</h1>

<img class="m-1 p-1 home-main-img" src="./img/maxresdefault.jpg" alt="">

<div class="aboutCard">
  <h2 class="aboutTitle text-center pb-0 pt-3 m-3">What is Surf-Deck</h2>
  <p class="m-1 mb-5 p-3 aboutText text-center">
    Welcome!<br> The purpose of The Surf-Deck is to bring the local community together through a passion for surfing, the ocean 
    and the boards we love to ride. Located in the heart of the Newport Beach peninsula and walking distance to the waves,
    The Surf-Deck offers unlimited use of our fully-stocked collection of high quality surfboards.
  </p>
</div class="d-flex container">
  <div class="d-flex justify-content-center align-items-center">
      <img class="m-4 p-2 homePageImg" src="./img/surfers-paddle-out.jpg" alt="" width="300" height="300">
      <img class="m-4 p-2 homePageImg" src="./img/Old-School-Longboarding.jpg" alt="" width="400" height="300">
      <img class="m-4 p-2 homePageImg" src="./img/surfboard_shaping.jpeg" alt="" width="300" height="300">
  </div>
<div>

</div>


{{!-- {{> header}} --}}