
<h1 class="welcome text-center p-2 m-3">Welcome to Surf-Deck!</h1>

<img class="m-1 p-1 home-main-img" src="./img/maxresdefault.jpg" alt="">


<h2 class="text-center p-2 m-3">About the Surf-Deck</h2>
<p>
  Welcome! The purpose of The Board Club is to bring the local community together through a passion for surfing, the
  ocean
  and the boards we love to ride. Located in the heart of the Newport Beach peninsula and walking distance to the waves,
  The Board Club offers unlimited use of our fully-stocked collection of high quality surfboards.
</p>

{{!-- {{> header}} --}}