
<div class="container d-flex">
  <main class="form-signin w-100 m-auto row justify-content-center align-item-center">
    <form class="text-center login-form">
      <img class="m-4 p-2" src="./img/surfboard_icon.png" alt="" width="100" height="100">
      <h1 class="h3 mb-4 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="loginbox-Email" placeholder="name@example.com">
        <label for="loginbox-Email">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="loginbox-Password" placeholder="Password">
        <label for="loginbox-Password">Password</label>
      </div>
  
      <div class="checkbox m-4">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn mt-3 btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>
  </main>
</div>

<script src="./js/login.js"></script>