<div class="container h-100 signupCard mt-5">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

              <form class="mx-md-3 p-5 signup-form">

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" id="FullName" class="form-control" />
                    <label class="mt-2 form-label" for="FullName">Your Name</label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="email" id="userEmail" class="form-control" />
                    <label class="mt-2 form-label" for="userEmail">Your Email</label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="password" id="userPassword" class="form-control" />
                    <label class="mt-2 form-label" for="userPassword">Password</label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="password" id="doubleUserPassword" class="form-control" />
                    <label class="mt-2 form-label" for="doubleUserPassword">Confirm Password</label>
                  </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="TOS-Agree" />
                  <label class="form-check-label" for="TOS-Agree">
                    I agree all statements in <a href="#!">Terms of service</a>
                  </label>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button class="btn btn-primary btn-lg" type="submit">Register</button>
                </div>

              </form>

            </div>
            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

              <img src="./img/Huntington_Beach_1.jpg"
                class="img-fluid signupPicture" alt="Sample image">

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="./js/signup.js"></script>