:root {
  --mainBG: #003049;
  --lightTextColor: #e3e4e3;
  --secondaryBG: azure;


  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}



html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: var(--mainBG);
}

.form-signin {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form-signin input[type="password"] {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.headerBG {
  opacity: 95%;
  background-color:#FCBF49;
  border-radius: 20px;
  font-family: 'Sonsie One', cursive;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

form {
  background-color: white;

}

.signupPicture {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.nav-link {
  width: 100%;
  font-size: 30px;
  background-color:#FC4A4A;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Sonsie One', cursive;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loginAndSignBtn {
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Sonsie One', cursive;
  font-size: 50px;
}

.logoTitle {
  font-family: 'Monoton', cursive;
  font-size: 50px;
}

.signupCard {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
 
.login-form {
  width: 450px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.h3 {
  font-size: 20px;
}

.table-font {

  font-size: 20px;
}

.home-main-img {
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.welcome {
  font-size: 80px;
  color: var(--lightTextColor);

}

.aboutTitle {
  font-size: 40px;
}

.aboutText {
  font-size: 20px;
}

.aboutCard {
  background-color: var(--secondaryBG);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  opacity: 94%;
}