{{!-- <nav>
  <h2>Logo</h2>
  <ul>
    <ul>Home</ul>
    <ul>About or How it works</ul>
    <ul>Sign Up</ul>
    <ul>Log in</ul>
    <ul>Inventory</ul>
    {{!-- Contact can be in the footer --}}
    <ul>Contact Us </ul>
  </ul>
</nav> --}}