<header
  class="container d-flex headerBG flex-wrap align-items-center justify-content-center justify-content-between py-3 mb-4 mt-0 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 m-1 link-dark">Home</a></li>
    <li><a href="/inventory" class="nav-link px-2 m-1 link-dark">Inventory</a></li>
    <li><a href="/about" class="nav-link px-2 m-1 link-dark">About</a></li>
    <li><a href="/contact" class="nav-link px-2 m-1 link-dark">Contact</a></li>
  </ul>

  <div class="col-md-3 px-2 text-end loginAndSignBtn">
    <a href="/login"><button type="button" class="btn btn-primary me-2">Login</button></a>
    <a href="/signup"><button type="button" class="btn btn-primary">Sign-up</button></a>
  </div>
</header>