<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Surfboard Rental</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Surfboard Rental Shop</h1>
  </header>
  
  <main>
    <div>
      <h2>Our Surfboards</h2>
      {{!-- Gallery of surfboards (redirected?) --}}
    </div>
    <aside>
      {{!-- Weather Widget goes here --}}
    </aside>
    {{!-- Our top five most popular surfboards on display --}}
    <div class="topFive">
      {{{body}}}
    </div>
  </main>
  {{!-- {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>