html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #003049;
}

.form-signin {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form-signin input[type="password"] {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.headerBG {
  background-color:#FCBF49;
  border-radius: 20px;
  font-family: 'Sonsie One', cursive;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

form {
  background-color: white;

}

.signupPicture {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.nav-link {
  width: 100%;
  font-size: 30px;
  background-color:#FC4A4A;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Sonsie One', cursive;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loginAndSignBtn {
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Sonsie One', cursive;
  font-size: 50px;
}

.logoTitle {
  font-family: 'Monoton', cursive;
  font-size: 50px;
}

.signupCard {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
 
.login-form {
  width: 450px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.h3 {
  font-size: 20px;
}